<h1>Image uploads</h1>

<p>These are all the images uploaded through the Upload module, newest on top.</p>

<hr>

<% @uploads.each do |img| -%>
<h2><%= img.filename %> (aka '<%= img.keyword %>')</h2>
<p>
  By <%= img.nick %>, <%= img.date %><br>
  <a href="/extras/uploads/<%= img.filename %>">
    <img src="/extras/uploads/<%= img.filename %>" alt="<%= img.keyword %>" style="max-width: 1024px">
  </a>
</p>
<hr>
<% end -%>
<p>In case you were wondering: The ones saved 2009-11-18 18:00:00 were saved before we started saving the upload datetime; that functionality was implemented around that time.</p>
