<% content_for :nav_guides do %> class="marked"<% end %>
<% content_for :breadcrumbs do %>Guides index<% end %>

<h2>Guides</h2>
<p>Newcomers should start on the top and just continue downwards.</p>

<ul class="airy">
<li><%= link_to "Downloading the code", :action => :pullingandpushing %><br>
  Get started by learning how to download the bot source code, and reupload after making your changes.</li>
<li><%= link_to "Debugging", :action => :debugging %><br>
  All the caveats you need to know to start the bot on your own machine.</li>
<li><%= link_to "Writing modules", :action => :writingmodules %><br>
  How to write new modules for the bot. (It's really easy!)
<li><%= link_to "Using Web", :action => :usingweb %><br>
  How to make a quick and simple google search, or how to parse the HTML of any website, using the methods in the Web utility class.</li>
<li><%= link_to "Using SQL", :action => :usingsql %><br>
  How to use the SQL database from within your java modules.</li>
<li><%= link_to "Managing SQL", :action => :managingsql %><br>
  Need a new table in the DB for your module? Learn how to modify the table structure in the database.
</ul>

<hr>

<p>Missing anything? <%= link_to "Let us know", :controller => :about, :action => :us %>!</p>
