<% content_for :nav_guides do %> class="marked"<% end %>
<% content_for :breadcrumbs do %><%= link_to "Guides index", :action => :index%> &gt; Managing SQL<% end %>

<h2>Managing SQL</h2>

<p>SQLite is <a href="http://sqlite.org/serverless.html">serverless</a>. The whole DB is one single file. It requires no username or password, and you cannot connect via TCP/IP - you <em>must</em> use the filesystem to access the file.</p>

<!-- adding some style tags here to place a pretty little thumbnail.
  this should rather be done through classes in the style sheet! -->
<a href="/images/sqlitebrowser.png"><img src="/images/sqlitebrowser-thumb.png" alt="sqlitebrowser thumbnail" title="Click for full size" style="float: right; margin-left: 14px; margin-bottom: 15px;"></a>
<p>In order to modify the tables, we recommend using <a href="http://www.zentus.com/sqlitejdbc/">sqlitebrowser</a>, a simple and efficient linux binary. First you need to <%= link_to "download the database and sqlitebrowser", :controller => :about, :action => :libs %>. Give sqlitebrowser runnable permissions, and start it.</p>

<p class="note" style="clear: both;">sqlitebrowser: ELF 32-bit LSB executable, Intel 80386, version 1 (SYSV), for GNU/Linux 2.2.0, dynamically linked (uses shared libs), not stripped</p>

<p>You should now get up the main window. Choose "Open", and browse to the 'grouphugs.db' file. You should get up the different tables, and be able to view their data by choosing the "Browse Data" tab. Generally, the interface should be pretty intuitive if you're familiar with SQL.</p>

<p>When done, save the file, and let <%= link_to "murr4y", :controller => :about, :action => :us %> know how you will send it to him. He will then replace the existing database file with your new file and its changes.</p>

<p class="note">All changes the bot makes to the database between the time you download it, and murr4y applies your new file, will be discarded. So try to make your changes as fast as possible, and notify <%= link_to "the channel", :controller => :about, :action => :us %> when you download it so we know about it!</p>

<hr>

<p>Back to the <%= link_to "guides index", :action => :index%>.</p>
